/*
  Add style rules for the body of a your webpage.
  Note: These rules will be applied to all elements.
*/
body {
  /* Add a background color or image */
  background-color:  #008CBA;
  background-image: url('');

  /* Customize the font, size, and color for text*/
  font-family: Arial;
  font-size: 16px;
  color: white;

  /* Adjust the padding and margins */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}



/*
Style Text: Add style rules for any headings (h1-6),
paragraphs and links
*/

/* Configs for Nav bar */
.navbar{
  text-align: center;
  display: block;
}
.navbar ul {
  list-style: none;
  overflow: hidden;
  top: 0;
  width: 100%;
}

/* Style rule set for individual li */
.navbar ul li {
  display: inline-block;
  margin: 10px;
}


/* Style rule set for individual li link */
.navbar ul li a {
  font-family: Arial;
  color:white;
  font-size: 16px;
  text-decoration: none;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  font-weight: bold;
}

/*
Pseudo class for anchor tags (will likely change the colors at some point)
*/
a:link{
color: green;
}
a:visited {
  color:crimson;
}
a:hover{
  color: #0366d6;
}
a:active{
  color:black;
}

h1, h3{
  font-weight: bold;
  text-align: center;
}


/* Logic three-column section of site*/
.problems{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 100%;
  margin-left: 20px;
}
.column{
  flex: 33.3%;
  margin-right: 10px;
}
.info{
  margin-left: 10px;
  text-align: center;
}

.center-title{
  text-align: center;
}
p {
font-size: 14px;
}

a {
  text-decoration: none;
}

/*
Style Buttons: Add style rules for any headings (h1-6),
paragraphs and links
*/
.button-container{
  /* not the most intuitive solution at the moment, but will do */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.home-button-left{
background-color: white;
border: none;
color: #008CBA;
top: 17%;
left: 38%;
font-size: 16px;
text-align: center;
padding: 15px 32px;
cursor: pointer;
margin-bottom: 15px;
}
.home-button-right{
  background-color: white;
  border: none;
  color: #008CBA;
  top: 17%;
  left: 54%;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
  margin-bottom: 15px;
  }



/* Header css*/


/* Example: This styles elements with class="header"*/
.header {
  border-width: 0px 5px 2px 3px;  /* Would be 2px (from the top), 3px (right), 2px (bottom), and 3px (left) */
  margin-bottom: 10px; /* Might change the number but this will do for my liking */
}

.problem-section {
  display: flex;
}

.right-side {
  flex: 50%;
  padding: 10px;
}

.right-side-header{
  text-align: center;
}
.left-side{
  flex: 50%;
  padding: 10px;
  margin-left: 25px;
}
.left-side-text{
  width: 400px;
  text-align: center;
}

/* css for footer tag*/
footer {
    margin-top: auto;
    padding:  0;
    text-align: center;
    font-size: medium;
}


html, body {
    height: 100%;
    width: 100%;
  }